.esriAttributeInspector .atiLabel {
	font-size: .8rem;
}
.flat .dijitTextBox {
	width: 12rem;
	font-size: .8rem;
}
.flat .dijitInputInner, .flat .dijitTextBox {
	line-height: 14px;
	margin: 3px 0;
}
.messagesContainer {
	text-align: center;
	padding: .5rem;
}
#attributeMessage {
	padding: .5rem 0;
	display: none;
}
#attributeUpdateMessage {
	color: green;
	font-size: .9rem;
	font-weight: bold;
	font-style: italic;
	padding: .5rem;
	display: none;
}
#attributeInspectorDiv {
	display:none;
}
.esriAttributeInspector .atiButtons .atiDeleteButton {
	display:none;
}
.esriAttributeInspector .atiAttributes {
	padding: .5rem 0;
}
.esriPopup .titlePane {
	padding: .5rem;
}
.esriPopup .title {
	padding-left: 3px
}
.esriPopup .titleButton.maximize {
    right: 27px;
    background-position: -55px 0;
    width: 11px;
    height: 11px;
    top: 10px;
    padding: .5rem 0;
}
.esriPopup .titleButton.close {
    right: 8px;
    background-position: 0 0;
    width: 12px;
    height: 17px;
}
.esriPopup .titleButton {
	top: 7px;
}