.esriAttributeInspector .atiLabel {
	font-size: .8rem;
}
.flat .dijitTextBox {
	width: 12rem;
	font-size: .8rem;
}
.flat .dijitInputInner, .flat .dijitTextBox {
	line-height: 14px;
	margin: 3px 0;
}
#attributeInspectorMsg {
	color: green;
	font-size: .9rem;
	font-weight: bold;
	font-style: italic;
}
#relatedDiv {
	text-align: center;
	padding: 1rem;
	display:none;
}

#attributeInspectorDiv {
	display:none;
}
.esriAttributeInspector .atiButtons {
	display:none;
}

.esriAttributeInspector .atiAttributes {
	padding: 1rem 0;
}